.asideLeftContent
    border: 1px solid #EBEBEB
    padding: 14px 9px
    border-radius: 3px

.catalogSection
    margin-bottom: 55px

.catalogSectionTitle
    color: $color-text
    font-size: 13px
    font-weight: bold
    text-transform: uppercase
    margin: 0
    padding: 0 0 10px
    border-bottom: 5px solid #E9EDEE

.mobileAppBlock
    border: 1px solid #EBEBEB
    border-radius: 3px
    padding: 20px 14px