.footer
    background: #252729
    padding-top: 45px
    padding-bottom: 45px

.footerContent
    pageWidthContainer()
    padding: 0 35px
    //padding-top: 0
    //padding-bottom: 0

.topBlock
    display: flex
    flex-direction: row
    align-items: stretch
    justify-content: space-between
    padding-bottom: 40px
    border-bottom: 1px solid #161515

.bottomBlock
    padding-top: 40px
    display: flex
    flex-direction: row
    align-items: flex-start
    justify-content: space-between

.leftColumn
    width: 26%
    margin-right: 20px

.centerColumn
    width: 38%
    //
    //@media (max-width: 1250px)
    //    width: 400px

.rightColumn
    width: 215px

.sectionTitle
    font-weight: 400
    color: #fff
    font-size: 13px
    text-transform: uppercase
    line-height: 1.35
    margin: 0 0 15px

.sectionText
    font-size: 13px
    color: #ffffff
    line-height: 1.4
    font-weight: 300
    margin: 0

.installAppBlock
    min-height: 155px

.mobileAppBlock
    max-width: 400px

    p
    h1
        color: #ffffff
        line-height: 1.35
        margin-bottom: 19px
        font-weight: 300;

    h1
        font-weight: 400;

.appButtons
    margin-top: 20px

.socialLinks
    text-align: left
    margin-top: 20px

    .socialLink
        display: inline-block
        vertical-align: middle
        width: 34px
        height: 34px
        margin-right: 5px
        background: no-repeat center / contain

        &:hover
            filter: brightness(75%)

        &.socialLinkVk
            background-image: url('./i/iconVk.svg')
        &.socialLinkFb
            background-image: url('./i/iconFb.svg')
        &.socialLinkIn
            background-image: url('./i/iconIn.svg')

.logoBlock
    text-decoration: none

.logo
    display: block
    width: 209px
    margin-bottom: 5px
    text-decoration: none

.allRightReserved
    display: block
    font-weight: 300
    font-size: 11px
    color: #ffffff
    margin: 0
    text-decoration: none

.nav
    display: flex
    flex-direction: row
    align-items: flex-start
    justify-content: space-between

.navTitle
    color: #F2F2F2
    font-size: 13px
    font-weight: bold
    text-transform: uppercase
    margin-bottom: 10px
    line-height: 1

.navLink
    display: block
    color: #F2F2F2
    font-size: 13px
    line-height: 1
    text-decoration: none

    & + &
        margin-top: 10px

    &:hover
        text-decoration: underline
