.container
    border: 2px solid #F2C94C
    padding: 17px 32px
    margin-bottom: 40px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: stretch

.logo
    width: 80px;
    margin-right: 33px

.content
    flex-grow: 1

.header
    color: $color-text
    font-size: 13px
    font-weight: bold
    margin: 0 0 11px

.text
    font-size: 13px
    color: $color-text
    font-weight: 300
    margin: 0 0 12px
    line-height: 1.35

.link
    display: block
    font-size: 12px
    color: $color-link
    text-decoration: none

    &:hover
        text-decoration: underline

