.container
    pageWidthContainer()
    background: #fff
    min-height: 100vh
    padding-bottom: 70px

    &.columnsLayout
        display: flex
        flex-direction: row
        justify-content: flex-start
        align-items: flex-start