.text
    font-size: 13px
    margin: 0

.toggleLink
    display: inline
    color: $color-link
    margin-left: 5px
    cursor: pointer

    &.hideLink
        margin: 10px 0 0
        display: block

