.container
    border: 1px solid #FFC107
    margin-bottom: 20px
    padding: 20px 15px

.title
    font-weight: 400
    font-size: 13px
    color: $color-text
    margin: 0 0 15px
    text-transform: uppercase

.vacancy
    display: block
    text-decoration: none

    & + &
        margin-top: 29px

.logoContainer
    display: flex
    justify-content: center
    align-items: center
    width: 45px
    height: 45px
    float: left
    overflow: hidden
    margin-right: 9px

    img
        display: block
        width: 100%

.vacancyTitle
    font-weight: 400
    display: block
    font-size: 13px
    color: $color-link
    ellipsis()

.salary
    font-size: 15px
    font-weight: 300
    color: $color-text;
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
