.thumb
    display: inline-block
    vertical-align: top
    margin-right: 16px
    margin-bottom: 15px
    height: 100px
    width: 100px
    overflow: hidden

    &:last-child
        margin-right: 0

    img
        display: block
        height: 100%
        cursor: pointer