.mobileAppBlock
    &.withBg
        padding-left: 160px
        background: no-repeat left top url('./i/bg.png')
        background-size: 145px auto

    a
        display: inline-block
        vertical-align: top
        max-width: 45%

        & + &
            margin-left: 10%

        img
            max-width: 100%

.mobileAppTitle
    font-size: 13px
    color: $color-text
    text-transform: uppercase
    margin: 0 0 14px

.text
    margin: 0 0 16px
    font-size: 13px
    color: $color-text
    line-height: 1.35

